<div class="card bg-dark w-100 m-5" style="width: 5000px" aria-hidden="true">
  <div class="type-container">
    <h1 class="card-title placeholder-glow">
      <span class="placeholder col-6 pt-4"></span>
    </h1>
  </div>
  <div>
    <img src="..." alt="" width="419rem" height="275rem" />
  </div>
  <div class="card-body">
    <h5 class="card-title placeholder-glow">
      <span class="placeholder col-6"></span>
    </h5>
    <p class="card-text placeholder-glow">
      <span class="placeholder col-7"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-6"></span>
      <span class="placeholder col-8"></span>
    </p>
    <a
      href="#"
      tabindex="-1"
      class="btn btn-secondary disabled placeholder col-6"
    ></a>
  </div>
</div>
