<pokemon-detail-placeholder
  *ngIf="isLoading; else dataBlock"
></pokemon-detail-placeholder>
<ng-template #dataBlock>
  <div class="card bg-dark align-items-center rounded p-4">
    <hr />
    <h1>{{ apiPokemon?.name }}</h1>

    <ng-container *ngIf="apiPokemon?.types">
      <div class="type-container">
        <span
          class="type-span"
          *ngFor="let type of apiPokemon?.types"
          [ngStyle]="{
            color: getTypeTextColor(getColor(type.type.name)),
            'background-color': getColor(type.type.name)
          }"
        >
          {{ type.type.name }}
        </span>
      </div>
    </ng-container>

    <img
      class="card-image-top"
      [src]="apiPokemon?.sprites?.other?.['official-artwork']?.front_default"
      style="max-height: 40%; max-width: 40%"
      alt=""
    />
    <div>
      <table class="table table-dark table-border">
        <thead>
          <tr>
            <th>HP</th>
            <th>ATK</th>
            <th>DEF</th>
            <th>SPATK</th>
            <th>SPDEF</th>
            <th>SPD</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <ng-container *ngFor="let stat of apiPokemon?.stats">
              <td>{{ stat.base_stat }}</td>
            </ng-container>
            <td>{{ total }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- <table mobileTable>
      <thead>
        <tr>
          <th>Account</th>
          <th>Due Date</th>
          <th>Amount</th>
          <th>Period</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Visa - 3412</td>
          <td>04/01/2016</td>
          <td>$1,190</td>
          <td>03/01/2016 - 03/31/2016</td>
        </tr>
        <tr>
          <td>Visa - 6076</td>
          <td>03/01/2016</td>
          <td>$2,443</td>
          <td>02/01/2016 - 02/29/2016</td>
        </tr>
        <tr>
          <td>Corporate AMEX</td>
          <td>03/01/2016</td>
          <td>$1,181</td>
          <td>02/01/2016 - 02/29/2016</td>
        </tr>
        <tr>
          <td>Visa - 3412</td>
          <td>02/01/2016</td>
          <td>$842</td>
          <td>01/01/2016 - 01/31/2016</td>
        </tr>
      </tbody>
    </table>
 -->

    <!-- Moves -->
    <div class="row">
      <div class="hstack gap-2">
        <button class="btn btn-primary" (click)="getMoveData()">Moves</button>
        <button class="btn btn-outline-primary">Boobs</button>
        <div class="vr"></div>
        <input
          type="text"
          class="form-control me-auto"
          placeholder="Filter moves..."
        />
      </div>

      <!--Visible on tablet and larger screens-->
      <div class="table-responsive d-none d-md-block">
        <table
          class="table table-responsive table-hover table-dark table-striped table-bordered"
        >
          <thead>
            <tr>
              <th>Move</th>
              <th>Type</th>
              <th>Category</th>
              <th>Power</th>
              <th>Accuracy</th>
              <th>PP</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let move of apiPokemonMoves">
              <td>{{ move?.name }}</td>
              <td>{{ move?.type?.name }}</td>
              <td>{{ move?.damage_class?.name }}</td>
              <td>{{ move?.power }}</td>
              <td>{{ move?.accuracy }}</td>
              <td>{{ move?.pp }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Visible on smaller than tablet sceens -->
      <!-- <div
        *ngFor="let move of apiPokemonMoves"
        class="card bg-dark d-block d-md-none"
      >
        <div class="card-body">
          <h3 class="card-title">{{ move?.name }}</h3>
          <div class="card-text">
            <div class="badge bg-secondary">Type: {{ move?.type?.name }}</div>
            <div class="badge bg-secondary">
              Category: {{ move?.damage_class?.name }}
            </div>
            <div class="badge bg-secondary">Power: {{ move?.power }}</div>
            <div class="badge bg-secondary">Accuracy: {{ move?.accuracy }}</div>
            <div class="badge bg-secondary">PP: {{ move?.pp }}</div>
          </div>
        </div>
      </div> -->

      <div class="container">
        <div class="row">
          <div *ngFor="let move of apiPokemonMoves" class="col-md-4 col-xl-3">
            <div class="card bg-dark d-block d-md-none">
              <div class="card-block">
                <h6>
                  <em
                    ><span
                      class="badge"
                      [ngClass]="{
                        'bg-danger': move?.damage_class?.name === 'physical',
                        'bg-secondary': move?.damage_class?.name === 'special',
                        'bg-primary': move?.damage_class?.name === 'status'
                      }"
                      >{{ move?.damage_class?.name }}</span
                    ></em
                  >
                </h6>
                <h2 class="text-right">
                  <img
                    class="move-type"
                    [src]="'assets/TypeIcons/' + move.imgUrl"
                  /><span> {{ move?.name }}</span>
                </h2>
                <p *ngIf="move?.power">
                  Power: {{ move?.power }}<span class="f-right"></span>
                </p>
                <p>PP: {{ move?.pp }}</p>
                <p>Accuracy: {{ move?.accuracy || "--" }}</p>
                <div class="card-right">
                  <h6>Effect</h6>
                  <p>
                    Here is where the effect of the move goes once I figure out
                    how to do that.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="accordion bg-dark" id="accordionExample">
        <div class="accordion-item bg-dark">
          <h2 class="accordion-header" id="headingOne">
            <button
              (click)="getMoveData()"
              class="accordion-button bg-secondary"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Moves
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse bg-dark"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body bg-dark" style="color: aliceblue">
              <div class="">
                <table
                  mobileTable
                  class="table table-responsive table-hover table-dark table-striped table-bordered"
                >
                  <thead>
                    <tr>
                      <th>Move</th>
                      <th>Type</th>
                      <th>Category</th>
                      <th>Power</th>
                      <th>Accuracy</th>
                      <th>PP</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let move of apiPokemonMoves">
                      <td>{{ move?.name }}</td>
                      <td>{{ move?.type?.name }}</td>
                      <td>{{ move?.damage_class?.name }}</td>
                      <td>{{ move?.power }}</td>
                      <td>{{ move?.accuracy }}</td>
                      <td>{{ move?.pp }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</ng-template>
