<!-- New Team Accordian -->
<div class="accordion" id="newTeamAccordion">
  <!-- Create New Team -->
  <div class="card bg-dark">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-link"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#newTeamToggle"
          aria-expanded="true"
          aria-controls="newTeamToggle"
        >
          Create a New Team
        </button>
      </h2>
    </div>

    <div
      id="newTeamToggle"
      class="collapse show"
      aria-labelledby="headingOne"
      data-parent="#newTeamAccordion"
    >
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-md-4 my-1">
              <div class="card text-center">
                <button
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#pokemon1"
                  class="btn btn-primary btn-lg"
                >
                  +
                </button>
              </div>
            </div>
            <div class="col-md-4 my-1">
              <div class="card text-center">
                <button
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#pokemon2"
                  class="btn btn-primary btn-lg"
                >
                  +
                </button>
              </div>
            </div>
            <div class="col-md-4 my-1">
              <div class="card text-center">
                <button
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#pokemon3"
                  class="btn btn-primary btn-lg"
                >
                  +
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 my-1">
              <div class="card text-center">
                <button
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#pokemon4"
                  class="btn btn-primary btn-lg"
                >
                  +
                </button>
              </div>
            </div>
            <div class="col-md-4 my-1">
              <div class="card text-center">
                <button
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#pokemon5"
                  class="btn btn-primary btn-lg"
                >
                  +
                </button>
              </div>
            </div>
            <div class="col-md-4 my-1">
              <div class="card text-center">
                <button
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#pokemon6"
                  class="btn btn-primary btn-lg"
                >
                  +
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <button class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ./Create New Team -->

  <!-- Import Pokepaste -->
  <div class="card bg-dark">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button
          class="btn btn-link collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#importPokePaste"
          aria-expanded="false"
          aria-controls="importPokePaste"
        >
          Import Team From PokePaste
        </button>
      </h2>
    </div>
    <div
      id="importPokePaste"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#newTeamAccordion"
    >
      <div class="card-body">
        <form (submit)="onSubmitPokePaste(input.value)">
          <div class="row justify-content-center">
            <textarea
              #input
              style="color: white"
              class="form-control bg-dark"
              rows="5"
            ></textarea>
            <button type="submit" class="btn btn-primary btn-lg btn-block mt-3">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- ./ Import Pokepaste -->

  <!-- Edit Team -->
  <div class="card bg-dark" *ngIf="!localStorageIsEmpty()">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button
          class="btn btn-link collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#editTeam"
          aria-expanded="false"
          aria-controls="importPokePaste"
        >
          Edit Team
        </button>
      </h2>
    </div>
    <div
      id="editTeam"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#newTeamAccordion"
    >
      <div class="card-body">
        <button class="btn btn-primary" (click)="clearTeam()">
          Delete Saved Team
        </button>
      </div>
    </div>
  </div>
  <!-- ./Edit Team -->
</div>
<!-- ./New Team Accordian -->

<!-- Display Team -->
<div class="row">
  <div
    class="col-lg-4 col-sm-6 col-xs-12"
    *ngFor="let pokemon of team?.pokemon"
  >
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-2">
          <img
            src="{{ pokemon.photoUrl }}"
            class="card-img"
            alt="{{ pokemon.name }}"
          />
        </div>
        <div class="col-md-10">
          <div class="card-header">
            {{ pokemon.name }}
          </div>
          <div class="card-body">
            <p class="card-text">Ability: {{ pokemon.ability }}</p>
            <p class="card-text">Tera Type: {{ pokemon.teraType }}</p>
            <p class="card-text">EVs: {{ pokemon.evs }}</p>
            <p class="card-text">IVs: {{ pokemon.ivs }}</p>
            <p class="card-text">Nature: {{ pokemon.nature }}</p>
            <p class="card-text">Moves:</p>
            <ul>
              <li *ngFor="let move of pokemon.moves">{{ move }}</li>
            </ul>
          </div>
          <div class="card-footer">
            <button
              class="btn btn-secondary btn-block"
              style="width: 100%"
              (click)="editPokemon(pokemon)"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- <div>
      <h1>{{ proxyTeam.name }}</h1>
    </div>
    <div *ngFor="let pokemon of proxyTeam.pokemon">
      <h4>{{ pokemon.name }}</h4>
      <p>Ability: {{ pokemon.ability }}</p>
      <p>EVs: {{ pokemon.evs }}</p>
      <p>Nature: {{ pokemon.nature }}</p>
      <p>Moves: {{ pokemon.moves }}</p>
    </div>

    <button (click)="save()">Save</button> -->
  </div>
</div>
<!-- ./Display Team -->

<!-- Pokemon 1 Modal -->
<form [formGroup]="pokemon1Form" novalidate (ngSubmit)="savePokemon1()">
  <div class="modal fade" id="pokemon1" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" *ngIf="!pokemon1Form.get('name')?.valid">
            Pokemon 1
          </h5>
          <ng-template
            [ngIf]="apiPokemon1?.sprites?.other?.['official-artwork']?.front_default"
          >
            <img
              style="height: 50px; width: 50px"
              [src]="apiPokemon1?.sprites?.other?.['official-artwork']?.front_default"
            />
          </ng-template>
          <h5 class="modal-title" *ngIf="pokemon1Form.get('name')?.valid">
            {{ pokemon1Form.get("name")?.value }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="pokemon1Name">Pokemon</label>
                <input
                  name="name"
                  type="text"
                  class="form-control"
                  id="pokemon1Name"
                  placeholder="Choose a Pokemon"
                  formControlName="name"
                  (focusout)="properCaseInput(pokemon1Form, 'name')"
                  (focusout)="setApiPokemon1(pokemon1Form.get('name')?.value)"
                  [ngClass]="{
                    'is-invalid':
                      (pokemon1Form.get('name')?.touched ||
                        pokemon1Form.get('name')?.dirty) &&
                      !pokemon1Form.get('name')?.valid
                  }"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="pokemon1Item">Item</label>
                <input
                  type="text"
                  class="form-control"
                  id="pokemon1Item"
                  placeholder="Enter Item"
                  formControlName="item"
                  (focusout)="properCaseInput(pokemon1Form, 'item')"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="pokemon1Ability">Ability</label>
                <input
                  type="text"
                  class="form-control"
                  id="pokemon1Ability"
                  placeholder="Choose Ability"
                  formControlName="ability"
                  (focusout)="properCaseInput(pokemon1Form, 'ability')"
                  [ngClass]="{
                    'is-invalid':
                      (pokemon1Form.get('ability')?.touched ||
                        pokemon1Form.get('ability')?.dirty) &&
                      !pokemon1Form.get('ability')?.valid
                  }"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="pokemon1Level">Level</label>
                <select
                  id="pokemon1Level"
                  class="form-control"
                  formControlName="level"
                >
                  <option *ngFor="let level of levels" [value]="level">
                    {{ level }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="pokemon1TeraType">Tera Type</label>
                <input
                  type="text"
                  class="form-control"
                  id="pokemon1TeraType"
                  placeholder="Enter Tera Type"
                  formControlName="teraType"
                  [ngClass]="{
                    'is-invalid':
                      (pokemon1Form.get('teraType')?.touched ||
                        pokemon1Form.get('teraType')?.dirty) &&
                      !pokemon1Form.get('teraType')?.valid
                  }"
                  (focusout)="properCaseInput(pokemon1Form, 'teraType')"
                />
                <div
                  *ngIf="
                    pokemon1Form.get('teraType')?.hasError('invalidTeraType') &&
                    (pokemon1Form.get('teraType')?.dirty ||
                      pokemon1Form.get('teraType')?.touched)
                  "
                  class="invalid-feedback"
                >
                  Please enter a valid Tera Type.
                </div>
              </div>
            </div>
            <div class="col">
              <div
                class="form-group"
                [class.has-error]="
                  pokemon1Form.get('nature')?.invalid &&
                  (pokemon1Form.get('nature')?.dirty ||
                    pokemon1Form.get('nature')?.touched)
                "
              >
                <label for="pokemon1Nature">Nature</label>
                <input
                  type="text"
                  class="form-control"
                  id="pokemon1Nature"
                  placeholder="Choose Nature"
                  formControlName="nature"
                  (focusout)="properCaseInput(pokemon1Form, 'nature')"
                  [ngClass]="{
                    'is-invalid':
                      (pokemon1Form.get('nature')?.touched ||
                        pokemon1Form.get('nature')?.dirty) &&
                      !pokemon1Form.get('nature')?.valid
                  }"
                />
                <div
                  *ngIf="
                    pokemon1Form.get('nature')?.hasError('invalidNature') &&
                    (pokemon1Form.get('nature')?.dirty ||
                      pokemon1Form.get('nature')?.touched)
                  "
                  class="invalid-feedback"
                >
                  Please enter a valid nature.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="pokemon1Evs">EVs</label>
            <input
              type="text"
              class="form-control"
              id="pokemon1Evs"
              placeholder="Enter EVs"
              formControlName="evs"
            />
          </div>
          <div class="form-group">
            <label for="pokemon1Ivs">IVs</label>
            <input
              type="text"
              class="form-control"
              id="pokemon1Ivs"
              placeholder="Enter IVs"
              formControlName="ivs"
            />
          </div>
          <div class="form-group">
            <label for="pokemon1Moves">Moves</label>
            <div class="row" formGroupName="moves">
              <div class="col-md-6 col-sm-12">
                <input
                  type="text"
                  class="form-control"
                  id="pokemon1Move1"
                  placeholder="Move 1"
                  formControlName="move1"
                  (focusout)="properCaseInput(pokemon1Form, 'moves.move1')"
                />
                <input
                  type="text"
                  class="form-control"
                  id="pokemon1Move2"
                  placeholder="Move 2"
                  formControlName="move2"
                  (focusout)="properCaseInput(pokemon1Form, 'moves.move2')"
                />
              </div>
              <div class="col-md-6 col-sm-12">
                <input
                  type="text"
                  class="form-control"
                  id="pokemon1Move3"
                  placeholder="Move 3"
                  formControlName="move3"
                  (focusout)="properCaseInput(pokemon1Form, 'moves.move3')"
                />
                <input
                  type="text"
                  class="form-control"
                  id="pokemon1Move4"
                  placeholder="Move 4"
                  formControlName="move4"
                  (focusout)="properCaseInput(pokemon1Form, 'moves.move4')"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!pokemon1Form.valid"
            [title]="
              pokemon1Form.valid
                ? 'Save first pokemon.'
                : 'Enter all required fields.'
            "
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- ./ Pokemon 1 Modal -->

<!-- Pokemon 2 Modal -->
<form [formGroup]="pokemon2Form" novalidate (ngSubmit)="savePokemon2()">
  <div class="modal fade" id="pokemon2" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" *ngIf="!pokemon2Form.get('name')?.valid">
            Pokemon 2
          </h5>
          <ng-template
            [ngIf]="apiPokemon2?.sprites?.other?.['official-artwork']?.front_default"
          >
            <img
              style="height: 50px; width: 50px"
              [src]="apiPokemon2?.sprites?.other?.['official-artwork']?.front_default"
            />
          </ng-template>
          <h5 class="modal-title" *ngIf="pokemon2Form.get('name')?.valid">
            {{ pokemon2Form.get("name")?.value }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="pokemon2Name">Pokemon</label>
                <input
                  name="name"
                  type="text"
                  class="form-control"
                  id="pokemon1Name"
                  placeholder="Choose a Pokemon"
                  formControlName="name"
                  (focusout)="properCaseInput(pokemon2Form, 'name')"
                  (focusout)="setApiPokemon2(pokemon2Form.get('name')?.value)"
                  [ngClass]="{
                    'is-invalid':
                      (pokemon2Form.get('name')?.touched ||
                        pokemon2Form.get('name')?.dirty) &&
                      !pokemon2Form.get('name')?.valid
                  }"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="pokemon1TeraType">Item</label>
                <input
                  type="text"
                  class="form-control"
                  id="pokemon2Item"
                  placeholder="Enter Item"
                  formControlName="item"
                  (focusout)="properCaseInput(pokemon2Form, 'item')"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="pokemon2Ability">Ability</label>
                <input
                  type="text"
                  class="form-control"
                  id="pokemon2Ability"
                  placeholder="Choose Ability"
                  formControlName="ability"
                  (focusout)="properCaseInput(pokemon2Form, 'ability')"
                  [ngClass]="{
                    'is-invalid':
                      (pokemon2Form.get('ability')?.touched ||
                        pokemon2Form.get('ability')?.dirty) &&
                      !pokemon2Form.get('ability')?.valid
                  }"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="pokemon1Level">Level</label>
                <select
                  id="pokemon2Level"
                  class="form-control"
                  formControlName="level"
                >
                  <option *ngFor="let level of levels" [value]="level">
                    {{ level }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="pokemon2TeraType">Tera Type</label>
                <input
                  type="text"
                  class="form-control"
                  id="pokemon2TeraType"
                  placeholder="Enter Tera Type"
                  formControlName="teraType"
                  [ngClass]="{
                    'is-invalid':
                      (pokemon2Form.get('teraType')?.touched ||
                        pokemon2Form.get('teraType')?.dirty) &&
                      !pokemon2Form.get('teraType')?.valid
                  }"
                  (focusout)="properCaseInput(pokemon2Form, 'teraType')"
                />
                <div
                  *ngIf="
                    pokemon2Form.get('teraType')?.hasError('invalidTeraType') &&
                    (pokemon2Form.get('teraType')?.dirty ||
                      pokemon2Form.get('teraType')?.touched)
                  "
                  class="invalid-feedback"
                >
                  Please enter a valid Tera Type.
                </div>
              </div>
            </div>
            <div class="col">
              <div
                class="form-group"
                [class.has-error]="
                  pokemon2Form.get('nature')?.invalid &&
                  (pokemon2Form.get('nature')?.dirty ||
                    pokemon2Form.get('nature')?.touched)
                "
              >
                <label for="pokemon2Nature">Nature</label>
                <input
                  type="text"
                  class="form-control"
                  id="pokemon2Nature"
                  placeholder="Choose Nature"
                  formControlName="nature"
                  (focusout)="properCaseInput(pokemon2Form, 'nature')"
                  [ngClass]="{
                    'is-invalid':
                      (pokemon2Form.get('nature')?.touched ||
                        pokemon2Form.get('nature')?.dirty) &&
                      !pokemon2Form.get('nature')?.valid
                  }"
                />
                <div
                  *ngIf="
                    pokemon2Form.get('nature')?.hasError('invalidNature') &&
                    (pokemon2Form.get('nature')?.dirty ||
                      pokemon2Form.get('nature')?.touched)
                  "
                  class="invalid-feedback"
                >
                  Please enter a valid nature.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="pokemon2Evs">EVs</label>
            <input
              type="text"
              class="form-control"
              id="pokemon2Evs"
              placeholder="Enter EVs"
              formControlName="evs"
            />
          </div>
          <div class="form-group">
            <label for="pokemon2Ivs">IVs</label>
            <input
              type="text"
              class="form-control"
              id="pokemon2Ivs"
              placeholder="Enter IVs"
              formControlName="ivs"
            />
          </div>
          <div class="form-group">
            <label for="pokemon2Moves">Moves</label>
            <div class="row" formGroupName="moves">
              <div class="col-md-6 col-sm-12">
                <input
                  type="text"
                  class="form-control"
                  id="pokemon2Move1"
                  placeholder="Move 1"
                  formControlName="move1"
                  (focusout)="properCaseInput(pokemon2Form, 'moves.move1')"
                />
                <input
                  type="text"
                  class="form-control"
                  id="pokemon2Move2"
                  placeholder="Move 2"
                  formControlName="move2"
                  (focusout)="properCaseInput(pokemon2Form, 'moves.move2')"
                />
              </div>
              <div class="col-md-6 col-sm-12">
                <input
                  type="text"
                  class="form-control"
                  id="pokemon2Move3"
                  placeholder="Move 3"
                  formControlName="move3"
                  (focusout)="properCaseInput(pokemon2Form, 'moves.move3')"
                />
                <input
                  type="text"
                  class="form-control"
                  id="pokemon2Move4"
                  placeholder="Move 4"
                  formControlName="move4"
                  (focusout)="properCaseInput(pokemon2Form, 'moves.move4')"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!pokemon2Form.valid"
            [title]="
              pokemon2Form.valid
                ? 'Save second pokemon.'
                : 'Enter all required fields.'
            "
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- ./ Pokemon 2 Modal -->

<!-- Pokemon 3 Modal -->
<form [formGroup]="pokemon3Form" novalidate (ngSubmit)="savePokemon3()">
  <div class="modal fade" id="pokemon3" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" *ngIf="!pokemon3Form.get('name')?.valid">
            Pokemon 3
          </h5>
          <ng-template
            [ngIf]="apiPokemon3?.sprites?.other?.['official-artwork']?.front_default"
          >
            <img
              style="height: 50px; width: 50px"
              [src]="apiPokemon3?.sprites?.other?.['official-artwork']?.front_default"
            />
          </ng-template>
          <h5 class="modal-title" *ngIf="pokemon3Form.get('name')?.valid">
            {{ pokemon3Form.get("name")?.value }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="pokemon3Name">Pokemon</label>
                <input
                  name="name"
                  type="text"
                  class="form-control"
                  id="pokemon3Name"
                  placeholder="Choose a Pokemon"
                  formControlName="name"
                  (focusout)="properCaseInput(pokemon3Form, 'name')"
                  (focusout)="setApiPokemon3(pokemon3Form.get('name')?.value)"
                  [ngClass]="{
                    'is-invalid':
                      (pokemon3Form.get('name')?.touched ||
                        pokemon3Form.get('name')?.dirty) &&
                      !pokemon3Form.get('name')?.valid
                  }"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="pokemon1Item">Item</label>
                <input
                  type="text"
                  class="form-control"
                  id="pokemon3Item"
                  placeholder="Enter Item"
                  formControlName="item"
                  (focusout)="properCaseInput(pokemon3Form, 'item')"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="pokemon3Ability">Ability</label>
                <input
                  type="text"
                  class="form-control"
                  id="pokemon3Ability"
                  placeholder="Choose Ability"
                  formControlName="ability"
                  (focusout)="properCaseInput(pokemon3Form, 'ability')"
                  [ngClass]="{
                    'is-invalid':
                      (pokemon3Form.get('ability')?.touched ||
                        pokemon3Form.get('ability')?.dirty) &&
                      !pokemon3Form.get('ability')?.valid
                  }"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="pokemon1Level">Level</label>
                <select
                  id="pokemon3Level"
                  class="form-control"
                  formControlName="level"
                >
                  <option *ngFor="let level of levels" [value]="level">
                    {{ level }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="pokemon3TeraType">Tera Type</label>
                <input
                  type="text"
                  class="form-control"
                  id="pokemon3TeraType"
                  placeholder="Enter Tera Type"
                  formControlName="teraType"
                  [ngClass]="{
                    'is-invalid':
                      (pokemon3Form.get('teraType')?.touched ||
                        pokemon3Form.get('teraType')?.dirty) &&
                      !pokemon3Form.get('teraType')?.valid
                  }"
                  (focusout)="properCaseInput(pokemon3Form, 'teraType')"
                />
                <div
                  *ngIf="
                    pokemon3Form.get('teraType')?.hasError('invalidTeraType') &&
                    (pokemon3Form.get('teraType')?.dirty ||
                      pokemon3Form.get('teraType')?.touched)
                  "
                  class="invalid-feedback"
                >
                  Please enter a valid Tera Type.
                </div>
              </div>
            </div>
            <div class="col">
              <div
                class="form-group"
                [class.has-error]="
                  pokemon3Form.get('nature')?.invalid &&
                  (pokemon3Form.get('nature')?.dirty ||
                    pokemon3Form.get('nature')?.touched)
                "
              >
                <label for="pokemon1Nature">Nature</label>
                <input
                  type="text"
                  class="form-control"
                  id="pokemon3Nature"
                  placeholder="Choose Nature"
                  formControlName="nature"
                  (focusout)="properCaseInput(pokemon3Form, 'nature')"
                  [ngClass]="{
                    'is-invalid':
                      (pokemon3Form.get('nature')?.touched ||
                        pokemon3Form.get('nature')?.dirty) &&
                      !pokemon3Form.get('nature')?.valid
                  }"
                />
                <div
                  *ngIf="
                    pokemon3Form.get('nature')?.hasError('invalidNature') &&
                    (pokemon3Form.get('nature')?.dirty ||
                      pokemon3Form.get('nature')?.touched)
                  "
                  class="invalid-feedback"
                >
                  Please enter a valid nature.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="pokemon3Evs">EVs</label>
            <input
              type="text"
              class="form-control"
              id="pokemon3Evs"
              placeholder="Enter EVs"
              formControlName="evs"
            />
          </div>
          <div class="form-group">
            <label for="pokemon3Ivs">IVs</label>
            <input
              type="text"
              class="form-control"
              id="pokemon3Ivs"
              placeholder="Enter IVs"
              formControlName="ivs"
            />
          </div>
          <div class="form-group">
            <label for="pokemon3Moves">Moves</label>
            <div class="row" formGroupName="moves">
              <div class="col-md-6 col-sm-12">
                <input
                  type="text"
                  class="form-control"
                  id="pokemon3Move1"
                  placeholder="Move 1"
                  formControlName="move1"
                  (focusout)="properCaseInput(pokemon3Form, 'moves.move1')"
                />
                <input
                  type="text"
                  class="form-control"
                  id="pokemon3Move2"
                  placeholder="Move 2"
                  formControlName="move2"
                  (focusout)="properCaseInput(pokemon3Form, 'moves.move2')"
                />
              </div>
              <div class="col-md-6 col-sm-12">
                <input
                  type="text"
                  class="form-control"
                  id="pokemon3Move3"
                  placeholder="Move 3"
                  formControlName="move3"
                  (focusout)="properCaseInput(pokemon3Form, 'moves.move3')"
                />
                <input
                  type="text"
                  class="form-control"
                  id="pokemon3Move4"
                  placeholder="Move 4"
                  formControlName="move4"
                  (focusout)="properCaseInput(pokemon3Form, 'moves.move4')"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!pokemon3Form.valid"
            [title]="
              pokemon3Form.valid
                ? 'Save third pokemon.'
                : 'Enter all required fields.'
            "
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- ./ Pokemon 3 Modal -->

<!-- Pokemon 4 Modal -->
<div class="modal fade" id="pokemon4" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pokemon 4</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="pokemon4Name">Pokemon</label>
            <input
              type="text"
              class="form-control"
              id="pokemon4Name"
              placeholder="Choose a Pokemon"
            />
          </div>
          <div class="form-group">
            <label for="pokemon4Ability">Ability</label>
            <input
              type="text"
              class="form-control"
              id="pokemon4Ability"
              placeholder="Choose Ability"
            />
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="pokemon4Level">Level</label>
                <select
                  id="pokemon4Level"
                  class="form-control"
                  style="width: 60px"
                  [(ngModel)]="pokemonLevel"
                  name="level"
                >
                  <option *ngFor="let level of levels" [value]="level">
                    {{ level }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="pokemon4TeraType">Tera Type</label>
                <input
                  type="text"
                  class="form-control"
                  id="pokemon4TeraType"
                  placeholder="Enter Tera Type"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="pokemon4Evs">EVs</label>
            <input
              type="text"
              class="form-control"
              id="pokemon4Evs"
              placeholder="Enter EVs"
            />
          </div>
          <div class="form-group">
            <label for="pokemon4Ivs">IVs</label>
            <input
              type="text"
              class="form-control"
              id="pokemon4Ivs"
              placeholder="Enter IVs"
            />
          </div>
          <div class="form-group">
            <label for="pokemon4Moves">Moves</label>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <input
                  type="text"
                  class="form-control"
                  id="pokemon4Move1"
                  placeholder="Move 1"
                />
                <input
                  type="text"
                  class="form-control"
                  id="pokemon4Move2"
                  placeholder="Move 2"
                />
              </div>
              <div class="col-md-6 col-sm-12">
                <input
                  type="text"
                  class="form-control"
                  id="pokemon4Move3"
                  placeholder="Move 3"
                />
                <input
                  type="text"
                  class="form-control"
                  id="pokemon4Move4"
                  placeholder="Move 4"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- ./ Pokemon 4 Modal -->

<!-- Pokemon 5 Modal -->
<div class="modal fade" id="pokemon5" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pokemon 5</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="pokemon5Name">Pokemon</label>
            <input
              type="text"
              class="form-control"
              id="pokemon5Name"
              placeholder="Choose a Pokemon"
            />
          </div>
          <div class="form-group">
            <label for="pokemon5Ability">Ability</label>
            <input
              type="text"
              class="form-control"
              id="pokemon5Ability"
              placeholder="Choose Ability"
            />
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="pokemon5Level">Level</label>
                <select
                  id="pokemon5Level"
                  class="form-control"
                  style="width: 60px"
                  [(ngModel)]="pokemonLevel"
                  name="level"
                >
                  <option *ngFor="let level of levels" [value]="level">
                    {{ level }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="pokemon5TeraType">Tera Type</label>
                <input
                  type="text"
                  class="form-control"
                  id="pokemon5TeraType"
                  placeholder="Enter Tera Type"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="pokemon5Evs">EVs</label>
            <input
              type="text"
              class="form-control"
              id="pokemon5Evs"
              placeholder="Enter EVs"
            />
          </div>
          <div class="form-group">
            <label for="pokemon5Ivs">IVs</label>
            <input
              type="text"
              class="form-control"
              id="pokemon5Ivs"
              placeholder="Enter IVs"
            />
          </div>
          <div class="form-group">
            <label for="pokemon5Moves">Moves</label>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <input
                  type="text"
                  class="form-control"
                  id="pokemon5Move1"
                  placeholder="Move 1"
                />
                <input
                  type="text"
                  class="form-control"
                  id="pokemon5Move2"
                  placeholder="Move 2"
                />
              </div>
              <div class="col-md-6 col-sm-12">
                <input
                  type="text"
                  class="form-control"
                  id="pokemon5Move3"
                  placeholder="Move 3"
                />
                <input
                  type="text"
                  class="form-control"
                  id="pokemon5Move4"
                  placeholder="Move 4"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- ./ Pokemon 5 Modal -->

<!-- Pokemon 6 Modal -->
<div class="modal fade" id="pokemon6" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pokemon 6</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="pokemon6Name">Pokemon</label>
            <input
              type="text"
              class="form-control"
              id="pokemon6Name"
              placeholder="Choose a Pokemon"
            />
          </div>
          <div class="form-group">
            <label for="pokemon6Ability">Ability</label>
            <input
              type="text"
              class="form-control"
              id="pokemon6Ability"
              placeholder="Choose Ability"
            />
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="pokemon6Level">Level</label>
                <select
                  id="pokemon6Level"
                  class="form-control"
                  style="width: 60px"
                  [(ngModel)]="pokemonLevel"
                  name="level"
                >
                  <option *ngFor="let level of levels" [value]="level">
                    {{ level }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="pokemon6TeraType">Tera Type</label>
                <input
                  type="text"
                  class="form-control"
                  id="pokemon6TeraType"
                  placeholder="Enter Tera Type"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="pokemon6Evs">EVs</label>
            <input
              type="text"
              class="form-control"
              id="pokemon6Evs"
              placeholder="Enter EVs"
            />
          </div>
          <div class="form-group">
            <label for="pokemon6Ivs">IVs</label>
            <input
              type="text"
              class="form-control"
              id="pokemon6Ivs"
              placeholder="Enter IVs"
            />
          </div>
          <div class="form-group">
            <label for="pokemon6Moves">Moves</label>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <input
                  type="text"
                  class="form-control"
                  id="pokemon6Move1"
                  placeholder="Move 1"
                />
                <input
                  type="text"
                  class="form-control"
                  id="pokemon6Move2"
                  placeholder="Move 2"
                />
              </div>
              <div class="col-md-6 col-sm-12">
                <input
                  type="text"
                  class="form-control"
                  id="pokemon6Move3"
                  placeholder="Move 3"
                />
                <input
                  type="text"
                  class="form-control"
                  id="pokemon6Move4"
                  placeholder="Move 4"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- ./ Pokemon 6 Modal -->
